<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Config {% endblock %}</title>
    <link rel="stylesheet" href="../../static/css/styles_design.css">
    <link rel="stylesheet" href="../../static/icon/font-awesome.min.css">
</head>
<body>

<div class="header">
    <table class="table-header">
        <tr>
            <td>
                <div class="header-text">UNIVA IIoT Edge Gateway Device Management V 1.0</div>
            </td>
            <td>
                <!-- <div class="header-text">innospace</div> -->
            </td>
            <td >
                <div class="dropdown">
                <i class="fa fa-bars dropbtn" >
                    <div class="dropdown-content">
                        <a href="/changepassword">Change Password</a>
                        <a href="/logout">Logout</a>

                    </div>
                </i>
                </div>
            </td>
        </tr>
    </table>
</div>

<table class="tab-table">
    <tr>
        <td>
            <button class="tab-view {% block tagconfig %}  {% endblock %}" onclick="window.location='/tagconfig';">IOT Config</button>
        </td>
        <td>
            <button class="tab-view {% block serverconfig %}  {% endblock %}" onclick="window.location='/serverconfig';">Server Config</button>
        </td>
        <td>
            <button class="tab-view {% block globalfirewall %}  {% endblock %}" onclick="window.location='/globalfirewall';">Global Firewall</button>
        </td>
        <td>
            <button class="tab-view {% block specificfirewall %}  {% endblock %}" onclick="window.location='/specificfirewall';">Specific Firewall</button>
        </td>
        <td>
            <button class="tab-view {% block modbustcp %}  {% endblock %}" onclick="window.location='/modbustcp';">MODBUS TCP</button>
        </td>
        <td>
            <button class="tab-view {% block mqtttopic %}  {% endblock %}" onclick="window.location='/mqtttopic';">MQTT Topic</button>
        </td>
        <td>
            <button class="tab-view {% block wifisetting %}  {% endblock %}" onclick="window.location='/wifisetting';">WIFI Settings</button>
        </td>
        <td>
            <button class="tab-view {% block about %}  {% endblock %}" onclick="window.location='/about';">About</button>
        </td>
    </tr>
</table>

<div class="tab-background">




    {% block content %}

    {% endblock %}



</div>

<div class="footer">Copyright © 2023 Innospace</div>
</body>
</html>