{% extends 'header/designheader.html' %}

{% block title %}
Server Config
{% endblock %}

{% block serverconfig %}
white-background
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">SERVER CONFIG</div>
    <div class="card-body">
        <form class="form-class" id="updateserverform" method="POST" action="/updateserverdetails">
            <label labelfor="protocol">Protocol</label>
            <select name="protocol">
                <option {% if configdata.protocol =="MQTT" %} selected {% endif %}>MQTT</option>
            </select><br>

            <label labelfor="host">Host:</label>
            <input name="host" value="{{configdata.host}}" size="50"><br>

            <label labelfor="port">Port:</label>
            <input type="number" name="port" value="{{configdata.port}}"><br>

            <label labelfor="client" >Client ID:</label>
            <input name="client" size="50" value="{{configdata.client}}"><br>

            <label labelfor="username">UserName:</label>
            <input name="username" value="{{configdata.username}}"><br>

            <label labelfor="password">Password:</label>
            <input name="password" type="password" value="{{configdata.password}}"><br>

            <label labelfor="qos">QOS</label>
            <select name="qos">
                <option {% if configdata.qos ==0 %} selected {% endif %}>0</option>
                <option {% if configdata.qos ==1 %} selected {% endif %}>1</option>
                <option {% if configdata.qos ==2 %} selected {% endif %}>2</option>
            </select>

            <label labelfor="keep_alive">Keep Alive:</label>
            <input type="number" name="keep_alive" value="{{configdata.keepalive}}"><br>

        </form>
    </div>

</div>

<table class="button-center">
    <tr>
        <td>
            <button class="add-button" form="updateserverform" type="submit">UPDATE</button>
        </td>
        <td>
            <button class="generate-button" onclick="window.location='/generateserverdetailsfile'">GENERATE FILE</button>
        </td>
    </tr>
</table>


{% endblock %}