{% extends 'header/header.html' %}

{% block title %}
Global Firewall
{% endblock %}

{% block content %}

<h3>Global Firewall</h3>
<form method="post" action="/updateglobalfirewall">
  <label labelfor="incoming">Incoming:</label>
  <select name="incoming">
    <option {% if configdata.incoming =="ALLOW"%} selected {% endif %} >ALLOW</option>
    <option {% if configdata.incoming =="DENY"%} selected {% endif %}>DENY</option>
  </select><br>

  <label labelfor="outgoing">Outgoing:</label>
  <select name="outgoing">
    <option {% if configdata.outgoing =="ALLOW"%} selected {% endif %}>ALLOW</option>
    <option {% if configdata.outgoing =="DENY"%} selected {% endif %}>DENY</option>
  </select><br>

  <button type="submit">Update</button>
  <button type="button" onclick="window.location='/generateglobalfirewall';">Generate File</button>
</form>

{% endblock %}