{% extends 'header/designheader.html' %}

{% block title %}
Specific Firewall View
{% endblock %}

{% block specificfirewall %}
white-background
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">SPECIFIC FIREWALL</div>
    <div class="card-body">
        <form class="form-class" method="post" id="specificfirewall-form" action="/specificfirewallconfig?id={{configdata._id}}">
            <label labelfor="source_ip">Source IP:</label>
            <input name="source_ip" value="{{configdata.source_ip}}"><br>

            <label labelfor="source_port">Source Port:</label>
            <input name="source_port" value="{{configdata.source_port}}"><br>

            <label labelfor="destination_ip">Destination IP:</label>
            <input name="destination_ip" value="{{configdata.destination_ip}}"><br>

            <label labelfor="destination_port">Destination Port:</label>
            <input name="destination_port" value="{{configdata.destination_port}}"><br>

            <label labelfor="access">Access:</label>
            <select name="access">
                <option {% if configdata.access=="ALLOW" %} selected {% endif %} >ALLOW</option>
                <option {% if configdata.access=="DENY" %} selected {% endif %} >DENY</option>
            </select><br>
        <!--    <button type="submit">Submit</button>-->
        </form>


    </div>

</div>

<table class="button-center">
    <tr>
        <td>
            <button class="add-button" form="specificfirewall-form" type="submit">SUBMIT</button>
        </td>
        <td>
            <button type="button" onclick="window.location='/specificfirewall';">BACK</button>
        </td>
    </tr>
</table>



{% endblock %}