{% extends 'header/header.html' %}

{% block title %}
MQTT Topic List
{% endblock %}



{% block content %}

<h3>Modbus TCP List</h3>
<table>
    <tr>
        <th>Index</th>
        <th>MQTT Topic</th>
        <th>Action</th>
    </tr>
    {% for data in configdata %}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{data['topic']}}</td>
        <td>
            <button onclick="window.location='/mqtttopicview?id={{data['_id']}}';">Edit</button>
            <button onclick="window.location='/deletemqttconfig?id={{data['_id']}}';">Delete</button>
        </td>
    </tr>
    {% endfor %}

</table>

<button onclick="window.location='mqtttopicview';">Add</button>
<button type="button" onclick="window.location='/generatemqttconfigfile';">Generate File</button>


{% endblock %}