{% extends 'header/header.html' %}

{% block title %}
Wifi Config
{% endblock %}

{% block content %}
<form method="POST" action="/updatewifisetting">
    <h3>WIFI Settings</h3>
    <label labelfor="ssid">SSID:</label>
    <input name="ssid" value="{{configdata.ssid}}"><br>

    <label labelfor="password">Password:</label>
    <input name="password" value="{{configdata.password}}"><br>

    <button type="submit">Update</button>
    <button type="button" onclick="window.location='/generatewifisettingfile'">Generate File</button>
</form>
{% endblock %}