{% extends 'header/designheader.html' %}

{% block title %}
Wifi Config
{% endblock %}

{% block wifisetting %}
white-background
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">WIFI SETTINGS</div>
    <div class="card-body">
        <div class="center-layout">
        <form method="POST" id="wifisettingform" class="form-class" action="/updatewifisetting">
            <label labelfor="ssid">SSID:</label>
            <input name="ssid" minlength="1" maxlength="32" value="{{configdata.ssid}}" ><br>

            <label labelfor="password">Password:</label>
            <input name="password" minlength="8" maxlength="63" value="{{configdata.password}}"><br>

        </form>
        </div>
    </div>

</div>

<table class="button-center">
    <tr>
        <td>
            <button class="add-button" form="wifisettingform" type="submit">SUBMIT</button>
        </td>
        <td>
            <button type="button" onclick="window.location='/generatewifisettingfile';">GENERATE FILE</button>
        </td>
    </tr>
</table>
{% endblock %}