{% extends 'header/designheader.html' %}

{% block title %}
Change Auth
{% endblock %}

{% block modbustcp %}

{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header">CHANGE AUTHENTICATION</div>
        <div class="card-body">

            <p class="error-message">{{errormessage}}</p>


    <form method="post" class="form-class" action="/changeauth">
        <label labelfor="username">Username:</label>
        <input name="username" value={{username}}><br>

        <label labelfor="password">Password:</label>
        <input name="password" type="password"><br>

        <label labelfor="confirmpassword">Confirm Password:</label>
        <input name="confirmpassword" type="password"><br>

        <button type="submit">Submit</button>
    </form>

            {% endblock %}