{% extends 'header/designheader_compact.html' %}

{% block title %}
Change Auth
{% endblock %}

{% block wifisetting %}
{% endblock %}

{% block linkstylesheet %}
<link rel="stylesheet" href="../../static/css/changepasswordview.css">
{% endblock %}


{% block cardhead %}
CHANGE PASSWORD
{% endblock %}

{% block content %}

<div class="flex_body">
    <div class="card">

        <div class="card_body">

            <p class="error_message">{{errormessage}}</p>
            <form method="POST" class="tag_form"  id="changepassword" action="/changeauth">

                <div class="flex_grid">
                    <div class="label_input">
                        <label labelfor="username">Username :</label>
                        <input name="username" value={{username}}><br>

                    </div>
                    <div class="label_input">
                        <label labelfor="password">Password :</label>
                        <input name="password" type="password"><br>
                    </div>
                    <div class="label_input">
                        <label labelfor="confirmpassword">Confirm Pass:</label>
                        <input name="confirmpassword" type="password"><br>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block footer %}
<button class="input_button" form="changepassword" type="submit">SUBMIT</button>
<!--<button class="input_button" type="button" onclick="window.location='/generatewifisettingfile';">GENERATE FILE</button>-->
{% endblock %}