{% extends 'header/header.html' %}

{% block title %}
Modbus TCP List
{% endblock %}

{% block content %}

<h3>Modbus TCP List</h3>
<table>
    <tr>
        <th>Index</th>
        <th>IP Address</th>
        <th>Action</th>
    </tr>
    {% for data in configdata %}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{data['ipaddress']}}</td>
        <td>
            <button onclick="window.location='/modbustcpview?id={{data['_id']}}'">Edit</button>
            <button onclick="window.location='/deletemodbustcoipview?id={{data['_id']}}'">Delete</button>

        </td>
    </tr>
    {% endfor %}


</table>

<button onclick="window.location='/modbustcpview';">Add</button>
<button onclick="window.location='/generatemodbustcpipconfigfile';">Generate File</button>

{% endblock %}
