{% extends 'header/designheader.html' %}

{% block title %}
Modbus TCP List
{% endblock %}

{% block modbustcp %}
white-background
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">MODBUS TCP LIST</div>
    <div class="card-body">
        <table class="card-body-table">
            <thead class="primary-background">
                <th>INDEX</th>
                <th>IP ADDRESS</th>
                <th>ACTION</th>
            </thead>
            {% for data in configdata %}
            <tr class="tr {% if loop.index0 % 2 ==0 %} stripped-background {%endif%}" onclick="window.location='/modbustcpview?id={{data['_id']}}';">
                <td class="td">{{loop.index}}</td>
                <td>{{data['ipaddress']}}</td>
                <td class="icon"><a href="/deletemodbustcoipview?id={{data['_id']}}"><i class="fa fa-trash"></i></a></td>
            </tr>
            {% endfor %}


        </table>

</div>

</div>

<table class="button-center">
    <tr>
        <td>
            <button class="add-button" onclick="window.location='/modbustcpview'">ADD</button>
        </td>
        <td>
            <button class="generate-button" onclick="window.location='/generatemodbustcpipconfigfile'">GENERATE</button>
        </td>
    </tr>
</table>





{% endblock %}
