{% extends 'header/designheader.html' %}

{% block title %}
Modbus TCP View
{% endblock %}

{% block modbustcp %}
white-background
{% endblock %}

{% block content %}


<div class="card">
    <div class="card-header">MODBUS TCP VIEW</div>
    <div class="card-body">
        <form method="post" class="form-class" id="modbusform" action="/modbustcpipconfig?id={{configdata._id}}">
            <label labelfor="ipaddress">IP Address:</label>
            <input name="ipaddress" value="{{configdata.ipaddress}}">
        </form>
    </div>
</div>

<table class="button-center">
    <tr>
        <td>
            <button class="add-button" form="modbusform" type="submit">SUBMIT</button>
        </td>
        <td>
            <button type="button" onclick="window.location='/modbustcp';">BACK</button>
        </td>
    </tr>
</table>


{% endblock %}