{% extends 'header/header.html' %}

{% block title %}
Tag Config
{% endblock %}


{% block content %}
<h3 class="bodyHead"> Tag Configuration</h3>
<table>
    <tr>
        <th>tagname</th>
        <th>source_interface</th>
        <th>modbus tcp/ip index	port</th>
        <th>port</th>
        <th>slave id</th>
        <th>function code</th>
        <th>reg address</th>
        <th>no of reg read</th>
        <th>data type</th>
        <th>modbus function</th>
        <th>multiplication factor</th>
        <th>modbus base address</th>
        <th>modbus string index</th>
        <th>mqtt topic index</th>
        <th>mqtt fuction</th>
        <th>transmit type</th>
        <th>transmit interval</th>
        <th>Raw data buffer</th>
        <th>processed data buffer</th>
        <th>Action</th>

    </tr>
    {% for data in tagconfigdata %}
    <tr>
        <td>{{data['tag_name']}}</td>
        <td>{{data['source_interface']}}</td>
        <td>{{data['modbus_tcp_ip_id']}}</td>
        <td>{{data['port']}}</td>
        <td>{{data['slave_id']}}</td>
        <td>{{data['function_code']}}</td>
        <td>{{data['reg_address']}}</td>
        <td>{{data['no_of_reg_read']}}</td>
        <td>{{data['datatype']}}</td>
        <td>{{data['modbus_function']}}</td>
        <td>{{data['multiplication_factor']}}</td>
        <td>{{data['modbus_base_address']}}</td>
        <td>{{data['modbus_string_id']}}</td>
        <td>{{data['mqtt_topic_id']}}</td>

        <td>{{data['mqtt_function']}}</td>
        <td>{{data['transmit_type']}}</td>
        <td>{{data['transmit_interval']}}</td>
        <td>{{data['raw_data_buffer']}}</td>
        <td>{{data['processed_data_buffer']}}</td>
        <td><button onclick="window.location='/tagconfigview?id={{data['_id']}}'">Edit</button><button onclick="window.location='/deletetagconfig?id={{data['_id']}}'">Delete</button></td>
    </tr>
    {% endfor %}
</table>

<button onclick="window.location='/tagconfigview'">Add</button>
<button onclick="window.location='/generatetagconfigfile'">Generate File</button>
{% endblock %}