{% extends 'header/designheader_compact.html' %}

{% block title %}
Tag Config
{% endblock %}

{% block tagconfig %}
tab_selected
{% endblock %}

{% block linkstylesheet %}
<link rel="stylesheet" href="../../static/css/tagconfigform.css">
{% endblock %}

{% block cardhead %}
TAG CONFIGURATION
{% endblock %}

{% block content %}

<div class="flex_body">
    <div class="card">

        <div class="card_body">
            <form method="POST" class="tag_form"  id="tagconfigform" action="/tagconfigdetails?id={{tagconfigdata._id}}">
                <div class="flex_grid">
                    <div class="label_input">
                        <label labelfor="tag_name">Tag Name :</label>
                        <input name="tag_name" value="{{tagconfigdata.tag_name}}" pattern="[a-zA-Z0-9_]{1,29}" title="No Special Characters allowed, Only 29 characters allowed without space" required>
                    </div>


                    <div class="label_input">
                        <label labelfor="source_interface">Source Interface :</label>
                        <select name="source_interface">
                            <option {% if tagconfigdata.source_interface =="_Digi_Input_1" %} selected {% endif %}>_Digi_Input_1</option>
                            <option {% if tagconfigdata.source_interface =="_Digi_Input_2" %} selected {% endif %}>_Digi_Input_2</option>
                            <option {% if tagconfigdata.source_interface =="_Digi_Input_3" %} selected {% endif %}>_Digi_Input_3</option>
                            <option {% if tagconfigdata.source_interface =="_Digi_Input_4" %} selected {% endif %}>_Digi_Input_4</option>
                            <option {% if tagconfigdata.source_interface =="_Digi_Output_1" %} selected {% endif %}>_Digi_Output_1</option>
                            <option {% if tagconfigdata.source_interface =="_Digi_Output_2" %} selected {% endif %}>_Digi_Output_2</option>
                            <option {% if tagconfigdata.source_interface =="_Digi_Output_3" %} selected {% endif %}>_Digi_Output_3</option>
                            <option {% if tagconfigdata.source_interface =="_Digi_Output_4" %} selected {% endif %}>_Digi_Output_4</option>
                            <option {% if tagconfigdata.source_interface =="MODBUS_RTU_INTERFACE" %} selected {% endif %}>MODBUS_RTU_INTERFACE</option>
                            <option {% if tagconfigdata.source_interface =="MODBUS_TCP_INTERFACE" %} selected {% endif %}>MODBUS_TCP_INTERFACE</option>
                        </select>
                    </div>


                    <div class="label_input">
                        <label labelfor="modbus_tcp_ip">Modbus TCP IP :</label>
                        <select name="modbus_tcp_ip">
                            <option value="0">0.0.0.0</option>
                            {% for modbus in modbustcpdropdown %}
                            <option value="{{loop.index}}" {% if tagconfigdata.modbus_tcp_ip_id ==loop.index %} selected {% endif %}>{{modbus['ipaddress']}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="label_input">

                        <label labelfor="port">Port :</label>
                        <input type="number" name="port" value={% if tagconfigdata.port %} {{tagconfigdata.port}} {%else%} 0 {% endif %} min="1" max="65535" required><br>
                    </div>

                    <div class="label_input">
                        <label labelfor="slave_id">Slave ID :</label>
                        <input type="number" name="slave_id" value={% if tagconfigdata.slave_id %} {{tagconfigdata.slave_id}} {%else%} 0 {% endif %} min="1" max="255" required>
                    </div>

                    <div class="label_input">

                        <label labelfor="function_code">Function Code :</label>
                        <select name="function_code">
                            <option value="1" {% if tagconfigdata.function_code == 1 %} selected {% endif %}>01- Read coils</option>
                            <option value="2" {% if tagconfigdata.function_code == 2 %} selected {% endif %}>02- Read Discrete input coils</option>
                            <option value="3" {% if tagconfigdata.function_code == 3 %} selected {% endif %}>03- Read Holding register</option>
                            <option value="4" {% if tagconfigdata.function_code == 4 %} selected {% endif %}>04- Read Input register</option>
                            <option value="5" {% if tagconfigdata.function_code == 5 %} selected {% endif %}>05- Write single coil</option>
                            <option value="6" {% if tagconfigdata.function_code == 6 %} selected {% endif %}>06- Write single register</option>
                        </select><br>
                    </div>


                    <div class="label_input">
                        <label labelfor="reg_address">Reg Address :</label>
                        <input type="number" name="reg_address" value={% if tagconfigdata.reg_address %} {{tagconfigdata.reg_address}} {%else%} 0 {% endif %} min="0" max="65535" required>
                    </div>

                    <div class="label_input">
                        <label>Modbus Base Address :</label>

                        <div class="radio_input">
                            <div class="radio_input_inside">
                                <input type="radio" name="modbus_base_address" id="_BASE_O" value="_BASE_O" {% if tagconfigdata.modbus_base_address =="_BASE_O" %} checked {% endif %} {% if tagconfigdata =="" %} checked {% endif %}>
                                <label for="_BASE_O">_BASE_O</label>
                            </div>
                            <div class="radio_input_inside">
                                <input type="radio" name="modbus_base_address" id="_BASE_1" value="_BASE_1" {% if tagconfigdata.modbus_base_address =="_BASE_1" %} checked {% endif %}>
                                <label for="_BASE_1">_BASE_1</label>


                            </div>
                        </div>
                        <!-- <select name="modbus_base_address">
                            <option {% if tagconfigdata.modbus_base_address =="_BASE_O" %} selected {% endif %}>_BASE_O</option>
                            <option {% if tagconfigdata.modbus_base_address =="_BASE_1" %} selected {% endif %}>_BASE_1</option>
                        </select><br> -->

                    </div>



                    <div class="label_input">
                        <label labelfor="data_type">Data type :</label>
                        <select name="data_type">
                            <option {% if tagconfigdata.datatype =="_UINT16" %} selected {% endif %}>_UINT16</option>
                            <option {% if tagconfigdata.datatype =="_INT16" %} selected {% endif %}>_INT16</option>
                            <option {% if tagconfigdata.datatype =="_UINT32" %} selected {% endif %}>_UINT32</option>
                            <option {% if tagconfigdata.datatype =="_INT32" %} selected {% endif %}>_INT32</option>
                            <option {% if tagconfigdata.datatype =="_FLOAT_ABCD" %} selected {% endif %}>_FLOAT_ABCD</option>
                            <option {% if tagconfigdata.datatype =="_FLOAT_CDAB" %} selected {% endif %}>_FLOAT_CDAB</option>
                            <option {% if tagconfigdata.datatype =="_BOOLEAN" %} selected {% endif %}>_BOOLEAN</option>
                            <option {% if tagconfigdata.datatype =="_STRING" %} selected {% endif %}>_STRING</option>

                        </select><br>
                    </div>
                </div>

                <div class="flex_grid">

                    <div class="label_input">
                        <label labelfor="no_of_reg_read">No. of Reg Read :</label>
                        <input type="number" name="no_of_reg_read" value={% if tagconfigdata.no_of_reg_read %} {{tagconfigdata.no_of_reg_read}} {%else%} 0 {% endif %}  min="1" max="20" required>
                    </div>

                    <div class="label_input">

                        <label labelfor="multiplication_factor">Multiplication Factor :</label>
                        <input type="number" name="multiplication_factor" value={% if tagconfigdata.multiplication_factor %} {{tagconfigdata.multiplication_factor}} {%else%} 1 {% endif %} min="0" title="Number should be 2 decimal places." pattern="[0-9]+([\.,][0-9]+)?" step="0.01" required>
                    </div>




                    <div class="label_input">

                        <label labelfor="modbus_string_index">Modbus String Index :</label>
                        <input type="number" name="modbus_string_index" value={% if tagconfigdata.modbus_string_index %} {{tagconfigdata.modbus_string_index}} {%else%} 1 {% endif %} min="0" max="50" required>

                    </div>

                    <div class="label_input radio_main_label_top">
                        <label labelfor="mqtt_function">MQTT Function :</label>
                        <div class="radio_input_br">
                            <div class="radio_input_br_inside">
                                <input type="radio" name="mqtt_function" value="PUBLISH" id="PUBLISH"  {% if tagconfigdata.mqtt_function =="PUBLISH" %} checked {% endif %} {% if tagconfigdata =="" %} checked {% endif %}>
                                <label for="PUBLISH">PUBLISH</label>
                            </div>
                            <div class="radio_input_br_inside">
                                <input type="radio"  name="mqtt_function" value="SUBSCRIBE" id="SUBSCRIBE" {% if tagconfigdata.mqtt_function =="SUBSCRIBE" %} checked {% endif %}>
                                <label for="SUBSCRIBE">SUBSCRIBE</label>
                            </div>
                            <div class="radio_input_br_inside">
                                <input type="radio"  name="mqtt_function" value="PUBSUB" id="PUBSUB" {% if tagconfigdata.mqtt_function =="PUBSUB" %} checked {% endif %}>
                                <label for="PUBSUB">PUBSUB</label>
                            </div>
                        </div>
                        <!-- <select name="mqtt_function">
                            <option {% if tagconfigdata.mqtt_function =="PUBLISH" %} selected {% endif %}>PUBLISH</option>
                            <option {% if tagconfigdata.mqtt_function =="SUBSCRIBE" %} selected {% endif %}>SUBSCRIBE</option>
                            <option {% if tagconfigdata.mqtt_function =="PUBSUB" %} selected {% endif %}>PUBSUB</option>
                        </select> -->
                    </div>

                    <div class="label_input radio_main_label_top">

                        <label labelfor="modbus_function">Modbus Function :</label>

                        <div class="radio_input_br">
                            <div class="radio_input_br_inside">
                                <input type="radio" name="modbus_function" id="_MODBUS_READ" value="_MODBUS_READ"  {% if tagconfigdata.modbus_function =="_MODBUS_READ" %} checked {% endif %}  {% if tagconfigdata =="" %} checked {% endif %}>
                                <label for="_MODBUS_READ">_MODBUS_READ</label>
                            </div>
                            <div class="radio_input_br_inside">
                                <input type="radio"  name="modbus_function" id="_MODBUS_WRITE" value="_MODBUS_WRITE"  {% if tagconfigdata.modbus_function =="_MODBUS_WRITE" %} checked {% endif %}>
                                <label for="_MODBUS_WRITE">_MODBUS_WRITE</label>
                            </div>
                        </div>
                        <!-- <select name="modbus_function">

                            <option {% if tagconfigdata.modbus_function =="_MODBUS_READ" %} selected {% endif %}>_MODBUS_READ</option>
                            <option {% if tagconfigdata.modbus_function =="_MODBUS_WRITE" %} selected {% endif %}>_MODBUS_WRITE</option>
                        </select><br> -->
                    </div>


                </div>


                <div class="flex_grid">





                    <div class="label_input">
                        <label labelfor="mqtt_topic_index">MQTT Topic Index :</label>
                        <select name="mqtt_topic_index">
                            <option value = "0">No Topic</option>
                            {% for mqtttopic in mqtttopicdropdown %}
                            <option value="{{loop.index}}" {% if tagconfigdata.mqtt_topic_id ==loop.index %} selected {% endif %}>{{mqtttopic['topic']}}</option>
                            {% endfor %}
                        </select><br>
                    </div>

                    <div class="label_input radio_main_label_top">
                        <label labelfor="transmit_type">Transmit Type :</label>
                        <div class="radio_input_br">
                            <div class="radio_input_br_inside">
                                <input type="radio" name="transmit_type" id="NO_EVENT" value="NO_EVENT" {% if tagconfigdata.transmit_type =="NO_EVENT" %} checked {% endif %} {% if tagconfigdata =="" %} checked {% endif %}>
                                <label for="NO_EVENT">NO_EVENT</label>
                            </div>
                            <div class="radio_input_br_inside">
                                <input type="radio"  name="transmit_type" id="PERIODIC" value="PERIODIC" {% if tagconfigdata.transmit_type =="PERIODIC" %} checked {% endif %}>
                                <label for="PERIODIC">PERIODIC</label>
                            </div>
                            <div class="radio_input_br_inside">
                                <input type="radio"  name="transmit_type" id="EVENT" value="EVENT" {% if tagconfigdata.transmit_type =="EVENT" %} checked {% endif %}>
                                <label for="EVENT">EVENT</label>
                            </div>
                        </div>

                        <!-- <select name="transmit_type">
                            <option {% if tagconfigdata.transmit_type =="NO_EVENT" %} selected {% endif %}>NO_EVENT</option>
                            <option {% if tagconfigdata.transmit_type =="PERIODIC" %} selected {% endif %}>PERIODIC</option>
                            <option {% if tagconfigdata.transmit_type =="EVENT" %} selected {% endif %}>EVENT</option>
                        </select><br> -->
                    </div>

                    <div class="label_input">
                        <label labelfor="transmit_interval">Transmit Interval :</label>
                        <input type="number" name="transmit_interval" value={% if tagconfigdata.transmit_interval %} {{tagconfigdata.transmit_interval}} {%else%} 1 {% endif %} min="1" max="3600"><br>
                    </div>
                </div>

                <div class="flex_grid"></div>

            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block footer %}
<!--<button class="input_button">ADD</button>-->

<button form="tagconfigform" class="input_button" >SUBMIT</button>

<button class="input_button" onclick="window.location='/tagconfig'">BACK</button>
<!--<button class="input_button">GENERATE</button>-->
{% endblock %}